<template>
  <div id="analysis"><h2>這是智能分析頁面</h2></div>
</template>

<script>
export default {
  name: '',
  data() {
    return {
    };
  },
  computed:{
  },
  methods: {},
};
</script>

<style scoped>
#analysis{
  color: white;
}
</style>
