<template>
  <div class="navbar">
    <Row>
      <i-col span="7" class="left-nav">
        <Menu mode="horizontal" @on-select="JumpTo">
          <MenuItem name="station-analysis" >
            <Icon type="md-stats" />智能分析
          </MenuItem>
          <MenuItem name="monitor">
            <Icon type="md-videocam" />智能监控
          </MenuItem>
          <MenuItem name="reality">
            <Icon type="md-paper" />测时写实
          </MenuItem>
        </Menu>
      </i-col>
      <i-col span="10" class="title-area">
        <img src="~assets/img/title_bg.png" class="title-bg" />
        <span class="title">加油站现场智能监管系统</span>
      </i-col>
      <i-col span="7" class="right-nav">
        <div>
          <Menu mode="horizontal" @on-select="JumpTo">
            <MenuItem name="events">
              <Icon type="md-alert" />报警事件
            </MenuItem>
            <MenuItem name="form">
              <Icon type="md-document" />事件报表
            </MenuItem>
          </Menu>
        </div>
        <div class="logout">
          <Button   icon="md-log-out">退出系统</Button>
        </div>
      </i-col>
    </Row>
  </div>
</template>
<script>
export default {
  name: "",
  data() {
    return {};
  },
  computed: {},
  methods: {
    JumpTo(tagName){
      this.$router.push('/'+tagName)
    }
  },
};
</script>

<style scoped lang="less">
.navbar {
  position: relative;
  // background: url("~assets/img/title_bg.png") no-repeat center center;
  height: 64px;
  line-height: 64px;
}
.ivu-menu-light {
  background: transparent;
}
.ivu-menu-item {
  color: white !important;
}
.ivu-menu-item:hover {
  color: rgb(14, 252, 255) !important ;
}
.ivu-menu-light:after {
  background: #04264B !important;
  border: 1px solid #04264B;
}
.left-nav {
  background: transparent;
  color: white !important;
}
.title-area {
  .title-bg {
    position: absolute;
    left: 7%;
    top: -20%;
    width: 86%;
    height: 140%;
  }
  // background: url("~assets/img/title_bg.png") 0% 0% / cover no-repeat;
  // background-size: contain;
  // position: relative;
  .title {
    margin-top: -6px;
    text-align: center;
    font-size: 30px;
    color: rgb(14, 252, 255);
    letter-spacing: 5px;
    font-family: "微软雅黑";
    height: 100%;
    display: flex;

    z-index: 1;
    justify-content: center; /*x轴对齐方式*/
    align-items: center;
    font-weight: bolder;
    cursor: text;
  }
}
.right-nav {
  display: flex;
  div {
    flex: 1;
  }
  .logout {
    position: absolute;
    right: 5px;
    Button {
      background: transparent;
      border: 1px solid rgb(14, 252, 255);
      color: rgb(14, 252, 255);
      border-radius: 5px;
    }
     
  }
  .logout:hover{
    cursor: pointer;
  }
}
</style>