<template>
  <div>
    <h3>这是智能监控</h3>
    {{getStationScore}}
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
  name: '',
  data() {
    return {
    };
  },
  computed:{
    ...mapGetters('monitor', ["getStationScore"])
  },
  mounted(){
    // this.getStationServiceScore({"span":1})

  },
  methods: {
   ...mapActions('monitor',["getStationServiceScore"])
  },
};
</script>

<style scoped>

</style>
