<template>
  <div id="main">
    <div>
      <nav-bar />
    </div>
    <div>
      <router-view />
    </div>
  </div>
</template>

<script>
import NavBar from "./childComponents/Navbar";
export default {
  name: "home",
  components: {
    NavBar,
  },
  data() {
    return {};
  },
  computed: {},
  methods: {},
};
</script>

<style scoped>
</style>
