<template>
  <div>
    <h1>这是事件报表</h1>
  </div>
</template>

<script>
export default {
  name: '',
  data() {
    return {
    };
  },
  computed:{
  },
  methods: {},
};
</script>

<style scoped>
div {
  color: white;
}
</style>
